html, body {
  width: 100%;
  min-height: 100%;
  background-color: $color-cloth;
  font-family: 'Old Standard TT', serif;
}

.section {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

h2 {
    margin: 5px;
    text-align: center;
}

hr {
    width: 80px;
    height: 1px;
    margin: 0 auto 40px;
    background-color: black;
    border: 0;
}
