/**
 * @module:   clues
 * @js:       ./source/js/module/clues/clues.js
 * @html:     ./source/js/module/clues/clues.html
 */


@include module("clues") {

    .clues__list {
        margin: 0 auto 40px;
    }

    .clue {
        margin-bottom: 80px;
    }

    .clue__title {
        margin: 0;
        font-weight: normal;
    }

    .clue__letter-number {
        border-bottom: 1px dotted $color-yellow;
        margin: 10px 0 0;
        padding: 0 5px;
        display: inline-block;
        font-style: italic;
        color: $color-grey;
        background-color: lighten($color-yellow, 20%);

        &:after {
            content: " letter";
        }
    }

    .clue__inputs {
        margin-top: 20px;
    }

    .clue__input {
        width: 36px;
        height: 56px;
        border: 0;
        border-bottom: 1px solid $color-grey;
        margin-right: 3px;
        font-size: 36px;
        background: none;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        outline: none;
        transition: color 0.2s;

        &:last-of-type {
            margin-right: 0;
        }

        &:focus {
            background-color: lighten($color-yellow, 20%);
        }

        &--correct {
            @extend .clue__input;
            color: $color-green;
        }

        &--incorrect {
            @extend .clue__input;
            color: $color-red;
        }

        &.required {
            font-weight: bold;
        }

    }

    .clue__space {
        width: 36px;
        height: 56px;
        font-size: 36px;
        display: inline-block;
        text-align: center;
    }
}
